@page "/user/dashboard"
@inject ProjectService ProjectService
@inject EmployeeService EmployeeService

@code {
    private List<Project> userProjects = new List<Project>();
    private Dictionary<int, List<Employee>> projectMembers = new Dictionary<int, List<Employee>>();

    protected override async Task OnInitializedAsync()
    {
        userProjects = await ProjectService.GetProjectsAsync();

        foreach (var project in userProjects)
        {
            var members = await ProjectService.GetEmployeesByProjectAsync(project.Id);
            projectMembers[project.Id] = members;
        }
    }
}

<h3>Mes Chantiers</h3>
<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th>Nom du chantier</th>
            <th>Description</th>
            <th>Membres</th>
        </tr>
    </thead>
    <tbody>
        @if (userProjects != null && userProjects.Any())
        {
            @foreach (var project in userProjects)
            {
                <tr>
                    <td>@project.Name</td>
                    <td>@project.Description</td>
                    <td>
                        @if (projectMembers.ContainsKey(project.Id))
                        {
                            <ul>
                                @foreach (var member in projectMembers[project.Id])
                                {
                                    <li>@member.FirstName @member.LastName</li>
                                }
                            </ul>
                        }
                        else
                        {
                            <span>Aucun membre</span>
                        }
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3" class="text-center">Aucun chantier assigné</td>
            </tr>
        }
    </tbody>
</table>