@page "/user/attendance"
@inject EmployeeService EmployeeService
@inject NavigationManager NavigationManager
@rendermode InteractiveServer
@using System.Globalization

<h3>Pointage</h3>

@if (isSuccess)
{
    <div class="alert alert-success" role="alert">
        Pointage réussi !
    </div>
}

<button class="btn btn-primary" @onclick="RecordAttendance">Pointer</button>

@code {
    private bool isSuccess = false;
    private string FormattedDate;


    private async Task RecordAttendance()
    {
        var employeeId = 1;

        var attendance = new Attendance
            {
                EmployeeId = employeeId,
                Date = DateTime.UtcNow,
                Status = "Present"
            };

        try
        {
            await EmployeeService.PostAttendanceAsync(employeeId, attendance);
            isSuccess = true;
        }
        catch (Exception ex)
        {
            // Gérer l'erreur (par exemple, afficher un message d'erreur)
            Console.WriteLine($"Erreur lors de l'envoi de la requête : {ex.Message}");
            isSuccess = false;
        }
    }
}