@inject AuthenticationService AuthService
@inject NavigationManager NavigationManager

@if (isAuthenticated)
{
    @ChildContent
}
else
{
    <p>Redirecting to login...</p>
}

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    private bool isAuthenticated;

    protected override async Task OnInitializedAsync()
    {
        isAuthenticated = await AuthService.IsAuthenticated();
        if (!isAuthenticated)
        {
            NavigationManager.NavigateTo("/login", true);
        }
    }
}
